{% extends 'header_footer.html' %}

{% block content %}

<form action="" method="POST" enctype="multipart/form-data">
    <div class="row ">
        <div class="col-md-8 text-center img-thumbnail mx-auto mb-4">
            <h2>Créer une critique</h2>
                {{ ticket_form.as_p }}
        </div>
    </div> 
    <div class="row ">
        <div class="col-md-8 text-center img-thumbnail mx-auto mb-4">
                {{ review_form.as_p }}
                {% csrf_token %}
                <button type="submit">Publier</button>
        </div>
    </div>
</form>

{% endblock %}