{% extends 'header_footer.html' %}
{% block content %}

<div class="row ">
    <div class="col-md-11 text-center img-thumbnail mx-auto">
        <p>Créer une critique pour le Ticket : {{ ticket.id }}</p>
        <h3>{{ ticket.title }} by {{ ticket.user }}</h3>
        <img src="{{ ticket.image.url }}" class="img-fluid ">
        <p>{{ ticket.description }}</p>
        <p></p>
    </div>
</div>
<form action="" method="POST" enctype="multipart/form-data">
    <div class="row ">
        <div class="col-md-11 text-center img-thumbnail mx-auto pt-4 mb-4">
                {{ review_form.as_p }}
                {% csrf_token %}
                <button type="submit">Publier</button>
        </div>
    </div>
</form>

{% endblock %}