{% extends 'header_footer.html' %}

{% block content %}
    <h2>Modifier le ticket</h2>
    <form action="" method="POST" enctype="multipart/form-data">
        {{ edit_ticket.as_p }}
        {% csrf_token %}
        <button type="submit" class="col-4 btn btn-block btn-lg btn-success mx-auto mb-4">Sauvegarder</button>
    </form>
    <hr>
    <h3>Supprimer le ticket ?</h3>
    <form method="post">
        {{ delete_ticket }}
        {% csrf_token %}
        <button type="submit" class="col-4 btn btn-block btn-lg btn-danger mx-auto mb-4">Supprimer</button>
    </form>
{% endblock content %}