{% extends 'header_footer.html' %}
{% block content %}

<form action="/add_follow/" method="POST">
    {{ follow_form.as_p }}
    {% csrf_token %}
    <button type="submit">Publier</button>
</form>

<p>USER : {{ request.user }}</p>

<p>Abonnements</p>
{% for follower in followers %}
    {% if request.user == follower.user %}
    <p>{{ follower.followed_user }}</p>
    <form method="POST">
        {{ delete_follow }}
        {% csrf_token %}
        <a href="{% url 'delete_follows' follower.id  %}">X Supprimer</a>
    </form>
    {% endif %}
{% endfor %}

<p>Abonnés</p>
{% for follower in followers %}
    {% if request.user == follower.followed_user %}
    <p>{{ follower.user }}</p>
    {% endif %}
{% endfor %}



{% endblock %}