{% extends 'header_footer.html' %}
{% block content %}

    Suivre d'autres utilisateurs:<input type="text" name="q" id="id_q" value="{{ query }}"/>

<p>USER : {{ request.user }}</p>

<p>Abonnements</p>
{% for follower in followers %}
    {% if request.user == follower.user %}
    <p>{{ follower.followed_user }}</p>
    {% endif %}
{% endfor %}

<p>Abonnés</p>
{% for follower in followers %}
    {% if request.user == follower.followed_user %}
    <p>{{ follower.user }}</p>
    {% endif %}
{% endfor %}



{% endblock %}