{% extends 'header_footer.html' %}
{% block content %}
<div class="row ">
    <div class="col-md-11 text-center border mx-auto">
        <h3>Ticket : {{ review.ticket.id }}</h3>
        <p>{{ review.ticket.title }} by {{ review.ticket.user }}</p>
        <img src="{{ review.ticket.image.url }}" class="img-fluid ">
        <p>{{ review.ticket.description }}</p>
        <p></p>

        <div class="col-md-11 text-center border mx-auto mb-4">
            <p>{{ review.id }}</p>
            <h3>{{ review.headline }} by {{ review.user }}</h3>
            {% with ''|center:review.rating as Mylist1 %}
                {% for i in Mylist1 %}
                <i class="fas fa-star"></i>
                    {% if forloop.counter == review.rating %}                            
                        {% with ''|center:5 as Mylist2 %}
                            {% for j in Mylist2 %}
                                {% if forloop.parentloop.counter|add:forloop.counter == 1 %}                            
                                    <i class="far fa-star"></i>
                                {% elif forloop.parentloop.counter|add:forloop.counter == 2 %}
                                    <i class="far fa-star"></i>
                                {% elif forloop.parentloop.counter|add:forloop.counter == 3 %}
                                    <i class="far fa-star"></i>
                                {% elif forloop.parentloop.counter|add:forloop.counter == 4 %}
                                    <i class="far fa-star"></i>
                                {% elif forloop.parentloop.counter|add:forloop.counter == 5 %}
                                    <i class="far fa-star"></i>
                                {% endif %}
                            {% endfor %}
                        {% endwith %}
                    {% endif %}
                {% endfor %}
            {% endwith %}
            {% if review.rating == 0 %} 
                {% with ''|center:5 as Mylist3 %}
                    {% for k in Mylist3 %}
                        <i class="far fa-star"></i>
                    {% endfor %}
                {% endwith %}
            {% endif %}
            <p>{{ review.rating }}</p>
            <p>{{ review.body }}</p>
        </div>
        <div class="row">
            {% if request.user == review.user %}
                <div class="post col-md-4 text-center mx-auto">
                    <a class="nav-link" href="{% url 'edit_review' review.ticket.id review.id %}">
                        <button type="button" class="btn btn-block btn-lg btn-outline-warning mb-1">Modifier la critique</button>
                    </a>
                </div>            
            {% endif %}
            <div class="post col-md-4 text-center mx-auto mt-2">
                <form method="post" action="{% url 'delete_review' review.id %}">
                    {{ delete_review }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-block btn-lg btn-outline-danger mb-1">Supprimer la critique</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
