{% extends 'header_footer.html' %}
{% block content %}
    <h2>Inscription</h2>
    {% if form.errors %}
        {{ form.errors }}
    {% endif %}
    <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit" class="col-4 btn btn-block btn-lg btn-success mx-auto my-4">S’inscrire</button>
    </form>
    <form action="/">
        <input type="submit" class="col-4 btn btn-block btn-lg btn-danger mx-auto my-4" value="Retour" />
    </form>
{% endblock content %}